* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.nav {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    box-shadow: 0px 0px 4px black;
}

.nav img {
    width: 45px;
    height: 35px;
    /* margin: 0px 20px; */
}

.nav p {
    margin: 10px 20px;
    /* text-align: center; */
}

.nav p i {
    margin: 0px 10px;
}

.nav span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    /* margin-bottom: 0px; */
    /* background-color: blue; */
}

.ul li {
    /* flex-direction: row; */
    margin: 0px 30px 0px 30px;
    justify-content: center;
    align-items: center;
}

.cart {
    margin-left: 40px;
}

.Download-app {
    border: 1px solid black;
    padding: 3px 7px;
    border-radius: 5px;
}

.top {
    display: flex;
    height: auto;
    width: 100%;
    /* background-color: rgb(38, 189, 33); */
}

/* .home-services::before {
    content: "";
    background: url(slider-1.png) no-repeat center center/cover;
    background-color: rgb(119, 109, 182);
    height: 600px;
    width: 50%;
    position: absolute;
    z-index: -1;
    top: 48px;
    right: 0px;
    left: 0px;
    bottom: 0px;
} */

.home-services {
    width: 50%;
    /* height: 700px; */
    /* height: auto; */
    background: url(slider-1.png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: rgb(144, 158, 139); */
}

.home-serv-heading {
    text-align: center;
    color: white;
}

.home-services p {
    margin: 10px 0px;
    text-align: center;
    /* padding: 0px; */
}

.h {
    width: 100%;
    display: flex;
}

.ll {
    display: none;
}

.detail {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 22, 95); */
}

.input {
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.icons {
    width: 50px;
    padding: 14px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.input-field :focus {
    border: 2px solid #ffcc00;
}

.looking {
    width: 50%;
    /* height: auto; */
    /* height: 700px; */
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}

.looking-heading {
    text-align: center;
    margin-top: 6px;
}

.top-offer {
    display: none;
}

.flat-2 {
    background-color: rgb(207, 84, 84);
    color: white;
    width: 130px;
    height: 25px;
    display: flex;
    float: right;
    justify-content: center;
    margin: -13px 0px 0px 0px;
}

.tool-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10; */
}

.tool {
    display: flex;
    /* flex-wrap: wrap; */
    /* width: 12vw; */
    width: 180px;
    flex-direction: column;
    margin: 20px 2px;
    /* background-color: black; */
}

.tool-img {
    /* width: 10vw; */
    display: flex;
    /* height: auto; */
    /* background-color: #e26715; */
}

.tool-img img {
    width: 4vw;
    height: auto;
    margin: auto;
}

.tool-text p {
    text-align: center;
    /* background-color: aqua; */
    margin: 0px;
    padding: 5px 0px;
}

.looking-slider {
    margin: 0px 0px 0px 20px;
    padding: 0px 40px;
    display: block;
    /* background-color: #ffcc00;  */
}

.looking-slider-img {
    height: 162px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

.looking-slider-resp {
    margin: 8px 0px 0px 0px;
    padding: 0px 40px;
    display: none;
    /* background-color: #e26715; */

}

.looking-slider-img-resp {
    height: 200px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;

}

@media screen and (max-width:820px) {
    .ll {
        display: block;
    }

    .nav {
        justify-content: center;
        background-color: white;
        box-shadow: none;
    }

    .ul {
        display: none;
    }

    .nav img {
        display: none;
    }

    .nav p {
        font-size: 2.7vw;
        margin: 10px 0px;
        text-align: center;
        justify-content: center;
    }

    .nav p i {
        margin: 0px 5px;
    }

    .home-serv-heading {
        font-size: 24px;
    }

    .h {
        flex-direction: column;
    }

    .detail {
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .icons {
        padding: 9px;
    }

    /* .input-field{
        padding: 3px;
    } */

    .tool-text p {
        font-size: 2.7vw;
    }

    .tool-img img {
        width: 9vw;
    }

    .home-services {
        display: none;
    }

    .top-offer {
        text-align: center;
        margin: 9px 5px 0px 5px;
        display: block;
    }

    .looking {
        width: 100%;
    }

    .looking-heading {
        display: none;
    }

    .flat-container {
        display: none;
    }

    .looking-slider-resp {
        display: block;
        padding: 0px 40px;
    }

    .looking-slider-img-resp {
        height: 170px;
        width: 100%;
    }

    .looking-slider {
        display: none;
    }
}


@media screen and (min-width:820px) and (max-width:1350px) {
    .nav {
        padding: 0px 2px;
    }

    .nav p {
        margin: 10px 10px;
        font-size: 1.2vw;
    }

    .nav p i {
        margin: 0px 8px;
    }

    .ul li {
        margin: 0px 15px;
        font-size: 1.2vw;
    }

    .cart {
        margin-left: 20px;
    }

    .Download-app {
        padding: 3px 4px;
        border-radius: 5px;
        font-size: 1.2vw;
    }
}

@media screen and (min-width: 100px) {
    .uk-grid>* {
        padding: 0px 6px 0px 6px;
        /* margin: 0px 0px 0px 40px;   */
        /* padding-right: 5px; */
    }
}

.trending-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trending-heading{
    text-align: center;
    margin: 10px 0px;
}

.trending-para{
    text-align: center;
    margin: 0px;
}

.trending{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.row{
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
}

.trending-box{
    /* width: 100%; */
    margin: 100px 30px 10px 30px;
    /* background-color: #ffcc00; */
    box-shadow: 0px 0px 10px black;
    border-radius: 6px;
}

.trending-img::before{
    content: "";
    background: url(Air-conditioner.png) no-repeat center center/cover;
    position: absolute;
    z-index: 1;
    height: 200px;
    width: 172px;
    margin: -95px auto 0px auto;
}

.trending-img{
    height: 98px;
    width: 230px;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}

.trending-text{
    text-align: center;
}

@media screen and (max-width:520px) {
    .row{
        display: flex;
    }

    .trending-box{
        width: 100%;
        flex-wrap: nowrap;
        margin: 75px 12px 10px 12px;
        padding: 0px 10px;
    }

    .trending-box-d-none{
        display: none;
    }

    .trending-img::before{
        content: "";
        background: url(Air-conditioner.png) no-repeat center center/cover ;
        /* background-color: blue; */
        height: 110px;
        width: 28%;
        /* width: 150px; */
        margin-top: -65px;
        position: absolute;
        z-index: 1;
    }
    
    .trending-img{
        height: 65px;
        width: 100%;
        /* width: 50px; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        padding: 0px;
        /* background-color: aqua; */
    }
}